<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>UIlabel</string>
	<key>New item - 2</key>
	<string>UIbutton</string>
	<key>New item - 3</key>
	<string>UItTextField</string>
	<key>New item - 4</key>
	<string>UISwitch</string>
	<key>New item - 5</key>
	<string>UISegmentedControl</string>
	<key>New item - 6</key>
	<string>UIImageView</string>
	<key>New item - 7</key>
	<string>UISlider</string>
	<key>New item - 8</key>
	<string>UIActionSheet</string>
	<key>New item - 9</key>
	<string>UIPickerView</string>
</dict>
</plist>
